<h1>Listing events</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>Address first line</th>
    <th>Address second line</th>
    <th>Town</th>
    <th>Postcode</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Url</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.id %></td>
    <td><%=h event.name %></td>
    <td><%=h event.description %></td>
    <td><%=h event.date %></td>
    <td><%=h event.address_first_line %></td>
    <td><%=h event.address_second_line %></td>
    <td><%=h event.town %></td>
    <td><%=h event.postcode %></td>
    <td><%=h event.phone %></td>
    <td><%=h event.email %></td>
    <td><%=h event.url %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>